/*----------------- 皮肤信息 ---------------*/

/*  可写入皮肤名称，制作人，制作人QQ/E-mail，制作日期等（换行用 \n 表示）  */
.oxplayer .-ox-about1:before {content: "皮肤名称：科技时代";}
.oxplayer .-ox-about2:before {content: "类型：播放器自带皮肤";}
.oxplayer .-ox-about3:before {content: "制作人：海浪";}
.oxplayer .-ox-about4:before {content: "制作日期：2013/3/17";}
.oxplayer .-ox-about5:before {content: "E-mail：xuhotao@163.com";}
.oxplayer .-ox-about6:before {content: "说明：这是这个版本播放器的第2套皮肤";}
.oxplayer .-ox-about7:before {content: "";}

/*------------  控制台  ------------*/

/*  播放器控制台窗口大小  */
.oxplayer ._ox_consoleBox {
	width: 220px; height: 80px;
}
/*  控制台副界面显示时控制台窗口大小  */
.oxplayer ._ox_consoleBox.-ox-Bshow {

}


/*  控制台主界面 背景图片  */
.oxplayer ._ox_consoleA {
	left: 0px; top: 0px;
	width: 220px; height: 100%;
	background: url("consoleA.png") no-repeat;
}
/*  控制台副界面 位置/大小/背景图片  */
.oxplayer ._ox_consoleB {
	left: 50px; top: 80px;
	width: 150px; bottom: 5px;
	z-index: 3;
}

/*  主界面装饰图片  */
/*  装饰图片可以有很多个，要求编号从1开始，中间编号不能断  */
.oxplayer ._ox_consoleA .-ox-ornament1 {
	left: 38px; bottom: 12px; width: 172px; top: 55px; z-index: -33;
	background: url("consoleA2.png");
}
.oxplayer ._ox_consoleA .-ox-ornament2 {
	left: 38px; bottom: 0px; width: 172px; height: 12px; z-index: -33;
	background: url("consoleA3.png");
}

/*  副界面装饰图片  */
/*  装饰图片可以有很多个，要求编号从1开始，中间编号不能断  */
.oxplayer ._ox_consoleB .-ox-ornament1 {
	left: 0px; top: 0px; width: 149px; height: 21px; z-index: -33;
	background: url("consoleB1.png");
}



/*  电子屏 位置/大小/字体/背景图片  */
.oxplayer ._ox_infoTextBox {
	left: 88px; top: 21px;
	width: 108px; height: 14px;
	color: #ffe495;
	text-shadow: 1px 1px 1px #5c3c6f;
	filter: DropShadow(color=#995c3c6f,offx=1,offy=1,positive=1);
}
/*  电子屏中的提示框 字体  */
.oxplayer ._ox_infoClue {
	text-align: center;
	color: #ffffff;
}
/*  当前播放时间信息 位置/大小/字体  */
.oxplayer ._ox_timeText {
	left: 144px; top: 38px;
	width: 50px; height: 19px;
	text-align: right;
	color: #fbf1d2;
	font-weight: bold;
	font-family: arial;
	font-size: 16px;
	text-shadow: 2px 1px 2px #000000;
	filter: DropShadow(color=#99000000,offx=2,offy=1,positive=1);
}
/*  播放状态信息 位置/大小/字体  */
.oxplayer ._ox_stateText {
	left: 88px; top: 39px;
	width: 70px; height: 14px;
	text-align: left;
	color: #ffcc33;
	text-shadow: 1px 1px 1px #5c3c6f;
	filter: DropShadow(color=#995c3c6f,offx=1,offy=1,positive=1);
}

/*  播放进度滑动条 位置/大小/背景图片  */
.oxplayer ._ox_playSlider {
	left: 79px; top: 59px;
	width: 82px; height: 13px;
	padding-right: 11px;/*这里设置成和滑动手柄的width一个数值*/
	background: url() no-repeat;
}
/*  播放进度滑动条已滑过的背景图片  */
.oxplayer ._ox_playSlider > .-ox-sche {
	background: url("playSlider.png");
}
/*  播放进度滑动条滑动手柄 大小/背景图片  */
.oxplayer ._ox_playSlider > .-ox-sche > div {
	width: 11px; height: 100%;
	background: url("playSliderH.png") no-repeat;
}
/*  播放滑动条拖动预览时间 大小/背景图片/字体  */
.oxplayer ._ox_dialogTime {
	width: 50px; height: 21px;
	left: -46px; top: -31px;
	z-index: 299;
	background: url("dialogTime.png") no-repeat;
	padding-top: 3px;
	text-align: center;
	color: #ffff66;
}


/*  音量滑动条 位置/大小/背景图片  */
.oxplayer ._ox_volumeSlider {
	left: 89px; top: 1px;
	width: 62px; height: 10px;
	padding-right: 0px;/*这里设置成和滑动手柄的width一个数值*/
	background: url() no-repeat;
}
/*  音量滑动条已滑过的背景图片  */
.oxplayer ._ox_volumeSlider > div {
	background: url("volumeSlider.png") no-repeat;
}
/*  音量滑动条滑动手柄 大小/背景图片  */
.oxplayer ._ox_volumeSlider > div > div {
	width: 0px; height: 100%;
	background: url() no-repeat;
}


/*
按钮图片说明:
       在每个按钮图片中都包含【左】【中】【右】三个按钮样式
	   【左】为正常时的样式，【中】为鼠标移到按钮上时的样式，【右】按钮按下时的样式
*/
/*  主界面固定按钮  */
/*  播放按钮 位置/大小/背景图片  */
.oxplayer ._ox_playButton {
	left: 20px; top: 20px;
	width: 40px; height: 40px;
	background: url("play.png");
}
/*  静音按钮 位置/大小/背景图片  */
.oxplayer ._ox_muteButton {
	left: 67px; top: 1px;
	width: 17px; height: 17px;
	background: url("mute.png");
}
/*  打开副界面按钮 位置/大小/背景图片  */
.oxplayer ._ox_consoleBButton {
	left: 183px; top: 61px;
	width: 19px; height: 15px;
	background: url("openConsoleB.png");
}
/*  主菜单按钮 位置/大小/背景图片 (可以去掉)  */
.oxplayer ._ox_menuButton {
	left: 160px; top: 1px;
	width: 32px; height: 10px;
	background: url("menu.png");
}
/*  锁定控制台按钮 位置/大小/背景图片  */
.oxplayer .-ox-lockConsoleButton {
	left: 201px; top: 17px;
	width: 17px; height: 17px;
	background: url("lockConsole.png");
}


/*  副界面固定按钮  */
/*  循环按钮 位置/大小/背景图片  */
.oxplayer ._ox_loopButton {
	left: 123px; top: 1px;
	width: 18px; height: 18px;
	background: url("loop.png");
}
/*  当前播放列表 位置/大小/背景图片  */
.oxplayer ._ox_playList {
	left: px; top: 25px;
	width: 150px; bottom: 8px;
}
/*  播放的项目 背景图片  */
.oxplayer ._ox_playList li {
	padding: 0px 5px;
	width: 122px; height: 16px;
	line-height: 16px;
	color: #e7ba0a;
}
.oxplayer ._ox_playList li:hover {
	background: url("listBackground2.png") no-repeat;
}
/*  当前播放的项目 背景图片  */
.oxplayer ._ox_playList li.-ox-playing {
	background: url("listBackground.png") no-repeat;
	color: #ffffff;
}

/*  当前播放列表高度拖动手柄 大小/背景图片  */
.oxplayer .-ox-listResize {
	left: 1px; bottom: 0px;
	width: 147px; height: 7px;
	background: url("listResize.png");
}


/*  主界面自定义按钮 位置/大小/背景图片  */
/*  自定义按钮可以有很多个，要求编号从1开始，中间编号不能断，背景图片的文件名就是按钮的命令  */
.oxplayer ._ox_consoleA .-ox-button1 {
	left: 30px; top: 60px;
	width: 20px; height: 20px;
	background: url("stop.png");
}
.oxplayer ._ox_consoleA .-ox-button2 {
	left: 0px; top: 30px;
	width: 20px; height: 20px;
	background: url("prev.png");
}
.oxplayer ._ox_consoleA .-ox-button3 {
	left: 60px; top: 30px;
	width: 20px; height: 20px;
	background: url("next.png");
}
.oxplayer ._ox_consoleA .-ox-button4 {
	left: 30px; top: 0px;
	width: 20px; height: 20px;
	background: url("openMediamenu.png");
}
/*  副界面自定义按钮 位置/大小/背景图片  */
/*  自定义按钮可以有很多个，要求编号从1开始，中间编号不能断，背景图片的文件名就是按钮的命令  */
.oxplayer ._ox_consoleB .-ox-button1 {
	left: 10px; top: 1px;
	width: 18px; height: 18px;
	background: url("openVideo.png");
}
.oxplayer ._ox_consoleB .-ox-button2 {
	left: 35px; top: 1px;
	width: 18px; height: 18px;
	background: url("openLrc.png");
}
.oxplayer ._ox_consoleB .-ox-button3 {
	left: 60px; top: 1px;
	width: 18px; height: 18px;
	background: url("saveList.png");
}
.oxplayer ._ox_consoleB .-ox-button4 {
	left: 85px; top: 1px;
	width: 18px; height: 18px;
	background: url("loadList.png");
}



/*------------  视频  ------------*/

/*  视频边框图片  */
.oxplayer .-ox-videoA {		/*  上左  */
	left: 0px; top: 0px; width: 115px; height: 26px;
	background: url("vsA.png");
}
.oxplayer .-ox-videoB {		/*  上中  */
	left: 115px; top: 0px; right: 26px; height: 26px;
	background: url("vsB.png");
}
.oxplayer .-ox-videoC {		/*  上右  */
	right: 0px; top: 0px; width: 26px; height: 26px;
	background: url("vsC.png");
}
.oxplayer .-ox-videoD {		/*  中左  */
	left: 0px; top: 26px; bottom: 8px; width: 4px;
	background: url("vsD.png");
}
.oxplayer .-ox-videoCenter {	/*  中央视频区域  */
	left: 4px; right: 4px; top: 26px; bottom: 8px;
	background-color: #5e3109;
}
.oxplayer .-ox-videoE {		/*  中右  */
	right: 0px; top: 26px; bottom: 8px; width: 4px;
	background: url("vsE.png");
}
.oxplayer .-ox-videoF {		/*  下左  */
	left: 0px; bottom: 0px; width: 11px; height: 8px;
	background: url("vsF.png");
}
.oxplayer .-ox-videoG {		/*  下中  */
	left: 11px; bottom: 0px; right: 41px; height: 8px;
	background: url("vsG.png");
}
.oxplayer .-ox-videoH {		/*  下右  */
	right: 0px; bottom: 0px; width: 41px; height: 8px;
	background: url("vsH.png");
}
/*  视频窗口装饰图片  */
/*  装饰图片可以有很多个，要求编号从1开始，中间编号不能断  */
.oxplayer ._ox_videoBox .-ox-ornament1 {
	left: -5px; top: -3px;
	width: 65px; height: 48px;
	background: url("videoornament1.png");
}



/*  关闭视频按钮 位置/大小/背景图片  */
.oxplayer .-ox-closeVideoButton {
	right: 6px; top: 2px;
	width: 16px; height: 16px;
	background: url("closeVideo.png");
}
/*  最大化视频按钮 位置/大小/背景图片  */
.oxplayer .-ox-maxVideoButton {
	right: 26px; top: 2px;
	width: 16px; height: 16px;
	background: url("maxVideo.png");
}
/*  复位视频按钮 位置/大小/背景图片  */
.oxplayer .-ox-resetVideoButton {
	right: 46px; top: 2px;
	width: 16px; height: 16px;
	background: url("resetVideo.png");
}
/*  锁定视频按钮 位置/大小/背景图片  */
.oxplayer .-ox-lockVideoButton {
	right: 66px; top: 2px;
	width: 16px; height: 16px;
	background: url("lockVideo.png");
}


/*------------  媒体选单  ------------*/
/*  媒体选单 大小/背景图片  */
.oxplayer ._ox_mediamenuBox {
	width: 290px; height: 341px;
	background: url("mediamenu.png") no-repeat;
}

/*  分类标签 位置/大小/背景图片  */
.oxplayer ._ox_typeBox {
	left: -2px; top: 147px;
	width: 99px; height: 168px;
}
/*  分类标签项目  */
.oxplayer ._ox_typeBox dd{
	color: #ffffff;
	text-shadow: 0px 0px 2px #ffcc00;
	background: url("typeBackground.png");
	line-height: 21px;
	padding-left: 6px;
}


/*  媒体选单列表 位置/大小/背景图片  */
.oxplayer ._ox_listBox {
	left: 109px; top: 59px;
	width: 171px; height: 245px;
	color: #ffff99;
}
.oxplayer ._ox_listBox span:hover  {color: #ffffff;}
.oxplayer ._ox_listBox span:active {color: #ffff00;}



/*  搜索框 位置/大小/背景图片  */
.oxplayer ._ox_listSearch {
	left: 112px; top: 28px;
	width: 148px; height: 18px;
	background: url("searchBox.png") no-repeat;
	outline: none;
	border: none;
	padding: 5px 0px 0px 23px;
	color: #9f5306;
}
.oxplayer ._ox_listSearch:hover ,
.oxplayer ._ox_listSearch:focus {
	color: #503405;
	background-position: left bottom;
}




/*  关闭按钮 位置/大小/背景图片  */
.oxplayer .-ox-closeMediamenuButton {
	right: 6px; top: 6px;
	width: 16px; height: 16px;
	background: url("closeVideo.png");
}
/*  复位按钮 位置/大小/背景图片  */
.oxplayer .-ox-resetMediamenuButton {
	right: 26px; top: 6px;
	width: 16px; height: 16px;
	background: url("resetVideo.png");
}
/*  锁定按钮 位置/大小/背景图片  */
.oxplayer .-ox-lockMediamenuButton {
	right: 46px; top: 6px;
	width: 16px; height: 16px;
	background: url("lockVideo.png");
}


/*  全部播放按钮 位置/大小/背景图片  */
.oxplayer ._ox_allPlayButton {
	left: 22px; top: 23px;
	width: 67px; height: 25px;
	line-height: 25px;
	color: #503405;
	background: url("mmButton1.png");
}
/*  播放所选按钮 位置/大小/背景图片  */
.oxplayer ._ox_playSelectButton {
	left: 22px; top: 50px;
	width: 67px; height: 25px;
	line-height: 25px;
	color: #503405;
	background: url("mmButton1.png");
}
/*  追加播放按钮 位置/大小/背景图片  */
.oxplayer ._ox_addPlayButton {
	left: 22px; top: 77px;
	width: 67px; height: 25px;
	line-height: 25px;
	color: #503405;
	background: url("mmButton1.png");
}
/*  追加所选按钮 位置/大小/背景图片  */
.oxplayer ._ox_addSelectButton {
	left: 22px; top: 104px;
	width: 67px; height: 25px;
	line-height: 25px;
	color: #503405;
	background: url("mmButton1.png");
}

/*  全选按钮 位置/大小/背景图片  */
.oxplayer ._ox_allSelectButton {
	left: 113px; top: 309px;
	width: 51px; height: 22px;
	line-height: 22px;
	color: #ffffff;
	background: url("mmButton2.png");
}
/*  反选按钮 位置/大小/背景图片  */
.oxplayer ._ox_reSelectButton {
	left: 169px; top: 309px;
	width: 51px; height: 22px;
	line-height: 22px;
	color: #ffffff;
	background: url("mmButton2.png");
}
/*  全清按钮 位置/大小/背景图片  */
.oxplayer ._ox_noSelectButton {
	left: 225px; top: 309px;
	width: 51px; height: 22px;
	line-height: 22px;
	color: #ffffff;
	background: url("mmButton2.png");
}

/*  分类标签上翻页按钮 位置/大小/背景图片  */
.oxplayer ._ox_typePageUp {
	left: 40px; top: 318px;
	width: 21px; height: 21px;
	background: url("typePageUp.png");
}
/*  分类标签下翻页按钮 位置/大小/背景图片  */
.oxplayer ._ox_typePageDown {
	left: 70px; top: 318px;
	width: 21px; height: 21px;
	background: url("typePageDown.png");
}




/*------------  插件窗口  ------------*/
/*  插件窗口边框图片  */
.oxplayer .-ox-pluginA {		/*  上左  */
	left: 0px; top: 0px; width: 115px; height: 28px;
	background: url("vpA.png");
}
.oxplayer .-ox-pluginB {		/*  上中  */
	left: 115px; top: 0px; right: 26px; height: 28px;
	background: url("vpB.png");
}
.oxplayer .-ox-pluginC {		/*  上右  */
	right: 0px; top: 0px; width: 26px; height: 28px;
	background: url("vpC.png");
}
.oxplayer .-ox-pluginD {		/*  中左  */
	left: 0px; top: 28px; bottom: 14px; width: 5px;
	background: url("vpD.png");
}
.oxplayer .-ox-pluginCenter {	/*  中央区域  */
	left: 5px; right: 5px; top: 28px; bottom: 14px;
	background: url("vpCenter.png");
}
.oxplayer .-ox-pluginE {		/*  中右  */
	right: 0px; top: 28px; bottom: 14px; width: 5px;
	background: url("vpE.png");
}
.oxplayer .-ox-pluginF {		/*  下左  */
	left: 0px; bottom: 0px; width: 11px; height: 14px;
	background: url("vpF.png");
}
.oxplayer .-ox-pluginG {		/*  下中  */
	left: 11px; bottom: 0px; right: 41px; height: 14px;
	background: url("vpG.png");
}
.oxplayer .-ox-pluginH {		/*  下右  */
	right: 0px; bottom: 0px; width: 41px; height: 14px;
	background: url("vpH.png");
}

/*  插件窗口装饰图片  */
/*  装饰图片可以有很多个，要求编号从1开始，中间编号不能断  */
.oxplayer .-ox-pluginsBox .-ox-ornament1 {

}

/*  关闭按钮 位置/大小/背景图片  */
.oxplayer .-ox-closePluginButton {
	right: 6px; top: 2px;
	width: 16px; height: 16px;
	background: url("closeVideo.png");
}
/*  复位按钮 位置/大小/背景图片  */
.oxplayer .-ox-resetPluginButton {
	right: 26px; top: 2px;
	width: 16px; height: 16px;
	background: url("resetVideo.png");
}
/*  锁定按钮 位置/大小/背景图片  */
.oxplayer .-ox-lockPluginButton {
	right: 46px; top: 2px;
	width: 16px; height: 16px;
	background: url("lockVideo.png");
}

/*  插件窗口标题  */
.oxplayer .-ox-pluginTitle {
	left: 17px; right: 80px; top: 4px; height: 14px;
	color: #ffffff;
	text-shadow: 1px 1px 2px #000000;
	filter: DropShadow(color=#66000000,offx=1,offy=1,positive=1);
}
/*  插件窗口内容区域  */
.oxplayer .-ox-pluginBody {
	left: 10px; right: 10px; top: 28px; bottom: 10px;
	color: #e9dba5;
}

/*  插件窗口配色方案  */
.oxplayer .-ox-plugin-color1 {
	color:#ffcc33;
	text-shadow: 0px 0px 2px #ff9900;
}
.oxplayer .-ox-plugin-color2 {
	color:#ffffff;
}

.oxplayer .-ox-plugin-background1 {
	background-color: #c0650a;
	color: #ffffff;
}
.oxplayer .-ox-plugin-background2 {
	background-color: #875a18;
	color: #f8d8b4;
}

.oxplayer .-ox-plugin-border1 {
	border: #5f201d 1px solid;
}

.oxplayer .-ox-plugin-button1
{
	background: url("pluginButton1.png");
	color: #ffffff;
	border: #c48751 1px solid;
	height: 17px; line-height: 17px;
	border-radius: 5px;
}



/*------------  菜单  ------------*/
/*  主菜单 边框/宽度/背景  */
.oxplayer ._ox_menu {
	border: #7a340a 1px solid;
	background: url("menuback.png") repeat-y #E2E2E2;
	width:140px; padding-left: 0px;
	box-shadow: 4px 4px 14px #373737;
}
.oxplayer ._ox_menu > ul {
	background: url("menulogo.png") no-repeat left bottom;
	padding-left: 18px;
}
/*  子菜单 边框/宽度/背景  */
.oxplayer ._ox_menu li ul {
	border: #7a340a 1px solid;
	background: url("menuback2.png") repeat-y #E2E2E2;
	width:120px; padding-left: 7px;
	box-shadow: 4px 4px 14px #373737;
}
/* 水平线颜色 */
.oxplayer ._ox_menu hr {
	border-style:none; overflow:hidden; font-size: 1px;	line-height: 1px; height:1px;
	background-color: #d8a589;color: #d8a589; margin:2px 6px;
}
/*  菜单选项 字体颜色  */
.oxplayer ._ox_menu:hover .-ox-display, .oxplayer ._ox_menu li {
	color:#602600;
	padding:5px 6px 4px 6px;
}
/*  鼠标移到菜单选项上时 字体、背景颜色  */
.oxplayer ._ox_menu .-ox-display, .oxplayer ._ox_menu._ox_menu li:hover {
	background: url("menuik.png"); color:#58240c;
}


/*------------  对话框  ------------*/
/*  对话框 边框  */
.oxplayer .-ox-dialog {
	border: #7a340a 1px solid;
	box-shadow:5px 3px 10px #373737;
	border-radius: 8px;
}
/*  对话框 背景  */
.oxplayer .-ox-dialog .-ox-c {
	background-color: #f7dfbb;
	filter: alpha(opacity=70); opacity:0.7;
	border-radius: 8px;
}
/*  对话框 标题  */
.oxplayer .-ox-dialog .-ox-t {
	height: 19px;
	padding: 4px 0px 0px 14px;
	background: url("dialogTitle.png") repeat-x;
	color: #e4e3ec;
	border-radius: 8px 8px 0px 0px;
	text-shadow: 2px 1px 2px #000000;
}
/*  对话框 内容字体  */
.oxplayer .-ox-dialog form {
	color: #613021;
}
/*  对话框 按钮区域  */
.oxplayer .-ox-dialog .-ox-b {
	height: 40px;
	text-align: center;
	border-top: #bcaeab 1px solid;
	background-color: #e8e8e8;
	border-radius: 0px 0px 8px 8px;
}
/*  对话框 按钮  */
.oxplayer .-ox-dialog .-ox-b input {
	width: 50px; height: 24px; margin: 7px 4px 0px 4px; padding: 2px;
}


